body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: black;
    color: white;
}
.all-section{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
    font-weight: bolder;
}
.main-head1{
    margin-bottom: 0%;
    margin-top: 100px;
    font-family: 'Prompt', sans-serif;
}
.main-head2{
    margin-top: 5px;
    color: red;
}
.heading-style{
    padding-left: 10px;
    border-left: 4px solid red;
}
.image-style img{
    width: 400px;
    margin: 0 20px;
}
.button-des{
    padding: 10px 40px;
    background-image: linear-gradient(red, rgb(194, 59, 59));
    text-decoration: none;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

/* Mission 2022 */

.mission-head{
    text-align: center;
    font-size: 40px;
}
#mission-2022{
    color: red;
}

.small-img{
    width: 120px;
}
.box-style{
    box-shadow: 20px 20px 1px rgb(216, 214, 214);
    padding: 20px;
    border-radius: 10px;
    margin-left: 3%;
    margin-right: 3%;
    color: black;
}
.box-color1{
    background-color: #EDF5F6;
}
.box-color2{
    background-color: #FFEEEE;
}
.box-color3{
    background-color:#FFF4D6;
}

/* center part  */
.center-img{
    width: 400px;
}
.middle-part-imfo{
    margin-left: 60px;
    margin-top: 6%;
}
.middle-part-imfo2{
    margin-right: 80px;
    margin-top: 6%;
}
.center-sec{
    margin-top: 7%;

}


/* Footer  */
footer{
    text-align: center;
    background-color: rgb(213, 211, 230);
    color: rgb(0, 0, 0);
    padding-bottom: 20px;
}
footer h2{
    margin-bottom: 0;
    padding-top: 20px;
}
footer span{
    color: red;
}
footer p{
    color: rgb(80, 80, 80);
}